<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /osp-tracker/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /osp-tracker/index.html [L]
</IfModule>
